@charset "UTF-8";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

img{
	
	border-radius: 8px;
	position: absolute;
	top: 0;
	right: 0;
	width: 170px;
	height: 224px;
    bottom: 50;	
}


h3 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}