* {
	padding: 0;
	margin: auto;
	box-sizing: border-box;
	color: #fff;
}

body {
	background-color: #151414;
	background-size: cover;
	background-position: bottom;
	color: #fff;

}

input {
	background: none;
	border-width: 0px;
	color: #fff;
	font-size: 13px;
}

.menu-bar {
	background: #F60;
	text-align: center;
	width: 100%;
}

.menu-bar ul {
	display: inline-flex;
	list-style: none;
	color: #fff;
	width: 100%;
}

.menu-bar ul li {
	width: 130px;
	margin: 10px;
	padding: 10px;
}

.menu-bar ul li a {
	text-decoration: none;
	color: #fff;
}

.menu-bar ul li:hover {
	background: #e75c01;
	border-radius: 12px;
}

.menu-bar .fa {
	margin-right: 8px;
}

.sub-menu-1 {
	display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
	display: block;
	position: absolute;
	background: #F60;
	margin-top: 10px;
	margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
	display: block;
	margin: 20px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
	width: 190px;
	padding: 9px;
	border-bottom: 0.4px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
	border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
	color: #FF8C00;
}

@import url('https://fonts.googleapis.com/css?family=Cookie');

@import
	url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@import
	url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
	;

.container {
	width: 700px;
	margin: auto;
	position: relative;
}

.search-box {
	width: 100%;
	position: relative;
	top: 100px;
	height: 40px;
}

.title {
	font-family: 'Cookie';
	font-size: 32px;
	cursor: pointer;
}

.search-box>#search {
	width: 640px;
	height: 48px;
	border-radius: 0px 0px 6px 6px;
	box-shadow: 1px 2px 2px black;
}

.input:focus {
	background-color: black;
	font-size: 18px;
	font-family: 'Open Sans';
	padding: 0px 12px;
}











* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}